body{
    background:fixed;
    background-image: url(../Images/imagenesdbz/background-dbz.jpg);
    background-repeat: no-repeat;
}

#container{
    width: 777px;
    height: 250%;
    margin-top: 2%;
    margin-left: 20%;
    float: left;
}

#caja1{
    width: 100%;
    height:auto;
    margin-top: 0%;
    margin-left: 0%;
}

#ImagenFondo{
    background-image:
    url(../Images/imagenesdbz/gk_fr_vg.jpg);
    background-repeat: no-repeat;
}

h6{
    width: 100%;
    height: 24%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom:  0%;
    margin-left: 5%;
    padding-top: 39%;
    font-family: serif;
    font-size: 70px;
    text-shadow: -2px -2px 1px #530791, 2px 2px 1px #530791, -2px 2px 1px #530791, 2px -2px 1px #530791;
    color: white;
} 

#caja2{ 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0.9%;
    margin-left: 2%;
    background: #ffffff;
}

.fotos img{
    width:  9.4%;
    height: 20%;
}

h2{
  margin-top: 20%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  font-family: impact;
  font-size: 120px;
  display: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-weight: bolder;
  text-shadow: -2px -2px 1px #ffffff, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;
  white-space: nowrap;
  color: black;
  /*background: transparent; */
}

#goku1{
    margin-top: 5%;
    margin-left: 5%;
}

#goku2{
    width: 100%;
    height: auto;
}

#vegeta2{
    margin-top: 5%;
    margin-left: 5%;
}

#vegeta1{
    width: 100%;
    height: auto;
}

#freezer1{
    margin-top: 5%;
    margin-left: 5%;
}

#freezer2{
    width: 100%;
    height: auto;
}

#N172{
    margin-top: 15%;
    margin-left: 5%;
}

#N171{
    width: 100%;
    height: auto;
}

#N181{
    margin-top: 5%;
    margin-left: 5%;
}

#N182{
    width: 50%;
    height: auto;
    margin-top: 5%;
}

#krilin2{
    margin-top: 25%;
    margin-left: 5%;
}

#krilin1{
    width: 100%;
    height: auto;
}

#maestro_roshi1{
    margin-top: 10%;
    margin-left: 5%;
}

#maestro_roshi2{
    width: 100%;
    height: auto;
}

#tenshinhan2{
    margin-top: 10%;
    margin-left: 15%;
}

#tenshinhan1{
    width: 100%;
    height: auto;
}

#gohan1{
    margin-top: 5%;
    margin-left: 10%;
}

#gohan2{
    width: 100%;
    height: auto;
}

#piccolo2{
    margin-top: 25%;
    margin-left: 5%;
}

#piccolo1{
    width: 100%;
    height: auto;
}

#lala{
    width: 15%;
    height: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0%;
}

#lalala{
    width: 15%;
    height: 3%;
    margin-top: 60%;
    margin-bottom: 3%;
    margin-left: -3%;
}

#mas{
    width: 15%;
    height: 3%;
    margin-top: 368%;
    margin-bottom: 3%;
    margin-left: 40%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    padding-left: 2%;
    float: left; 
    border: 5px solid black;
    border-radius: 999px;
    font-family: cursive;
    font-style: oblique;
    line-height: 1.8;
    background: #530791;
}

a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
 

